.about-about-left {
    width: 50%;
    display: inline-block;
    height: 1.2rem;
    float: left;
}

.about-about-left img {
    width: 100%;
}

.about-about-right {
    width: 50%;
    display: inline-block;
    padding-left: 0.1rem;
    height: 1.2rem;
}

.about-about-text {
    width: 100%;
}

.about-desc {
    width: 100%;
    height: auto;
    background: url("../img/my-bg.jpg") no-repeat center;
    padding: 0.1rem 0;
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #eeeeee;
}

.about-desc2 {
    width: 100%;
    height: auto;
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #eeeeee;
    background-color: rgb(52, 52, 52);
    padding: 0.1rem 0;
}

.about-desc2-main {
    width: 100%;
    border-left: 1px dashed rgb(204, 204, 204);
    margin-left: 0.2rem;
    padding-left: 0.1rem;
    line-height: 0.25rem;
}

.about-desc2-main div {
    width: 100%;
    padding: 0 0.2rem 0 0.1rem;
}

.about-desc2-main span{
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    position: relative;
    left: -0.29rem;
    top: 0.03rem;
}

.about-about-honer {
    width: 100%;
    margin-bottom: 0.2rem;
    padding-top: 0.1rem;
}

.about-about-honer-item {
    width: 50%;
    text-align: center;
    display: inline-block;
    height: auto;
    margin-bottom: 0.15rem;
}

.about-about-honer-item img {
    width: 90%;
}

.about-about-honer-item span {
    text-align: center;
    display: block;
}