
.chain-door-item {
    width: 50%;
    height: 1.4rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 0.15rem;
}

.chain-door-item img {
    width: 90%;
}

.chain-door-item span {
    display: block;
    width: 100%;
    text-align: center;
}

.chain-chain-item {
    width: 100%;
    height: 0.95rem;
    color: #222222;
}

.chain-chain-item-left {
    width: 40%;
    display: inline-block;
    float: left;
}

.chain-chain-item-right {
    width: 60%;
    display: inline-block;
    padding-left: 0.15rem;
}

.chain-chain-item-right .title {
    font-size: 0.16rem;
    line-height: 0.35rem;
    font-weight: 400;
}

.chain-chain-item-right span {
    color: #666666;
    font-size: 0.14rem;
}

.chain-map-main {
    width: 100%;
    height: auto;
}

.chain-map-main img {
    width: 100%;
}


.chain-address {
    height: 0.8rem;
    width: 100%;
    margin: 0.1rem 0;
}

.chain-address-left {
    width: 0.4rem;
    display: inline-block;
    height: 100%;
    float: left;
}

.chain-address-right {
    width: 3rem;
    display: inline-block;
    height: 100%;
}

.chain-address-img {
    width: 0.3rem;
    height: 0.3rem;
    background: url("../img/chain_address.png") no-repeat center;
    color: #FFFFFF;
    font-size: 0.16rem;
    font-weight: 300;
    line-height: 0.27rem;
    text-align: center;
}

.chain-address-right-title {
    font-size: 0.18rem;
    font-weight: 400;
    color: #777777;
    line-height: 0.35rem;
}

.chain-address-right-text {
    font-size: 0.14rem;
    color: #999999;
}


.index-bar {
    width: 100%;
    background: url("../img/bar_back.jpg") no-repeat center;
    padding: 0.25rem 0;
    margin-bottom: 0.2rem;
    height: 1rem;
    overflow: hidden;
}

.index-bar-item {
    width: 24%;
    height: 100%;
    text-align: center;
    font-size: 0.15rem;
    font-weight: 500;
    line-height: 0.22rem;
    color: #ffffff;
    letter-spacing: 0.06rem;
    cursor: pointer;
    display: inline-block;
}

.index-bar-item img {
    position: relative;
    width: 0.6rem;
    left: -0.04rem;
    top: -0.51rem;
}

.index-bar-item div {
    z-index: 999;
    position: relative;
}


.index-join {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #eeeeee;
}

.index-join-item {
    width: 100%;
    height: 1.2rem;
    background: url("../img/index_join1.jpg") no-repeat center;
    color: rgb(231, 231, 231);
    font-size: 0.12rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

.index-join-item .title{
    text-align: center;
    font-size: 0.16rem;
    font-weight: 400;
    line-height: 0.35rem;
}

.index-join-btn {
    width: 80%;
    height: 0.4rem;
    background-color: rgb(280, 0, 15);
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.18rem;
    border-radius: 0.05rem;
    color: #eeeeee;
    margin: 0.1rem auto;
}
