html,body,header,footer,nav,ul,li,a,span,div,h1,h2,h3,input,img,p,table,thead,th,tbody,tr,td{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}
html{
    font-family: Microsoft YaHei;
}
html,body{
    width: 100%;
    overflow-x: hidden !important;
}

.margin-top-15{ margin-top: .15rem; }
.margin-top-20{ margin-top: .2rem; }
.margin-top-30{ margin-top: .3rem; }
.margin-top-40{ margin-top: .4rem; }
.margin-top-50{ margin-top: .5rem; }
.margin-top-60{ margin-top: .6rem; }

img {
    max-width: 100%;
    max-height: 100%;
}

.worker {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
}

.common-text-title {
    width: 100%;
    height: 0.35rem;
    color: #555555;
    padding-left: 0.1rem;
    margin-bottom: 0.1rem;
}

.common-text-title-img {
    width: 0.2rem;
    height: 0.35rem;
    float: left;
    margin-right: 0.05rem;
    padding-top: 0.07rem;
}

.common-text-title-img img {
    max-width: 100%;
    max-height: 100%;
}

.common-text-title-text {
    height: 100%;
    float: left;
    font-weight: 500;
    font-size: 0.18rem;
    display: block;
    letter-spacing: 0.05rem;
    line-height: 0.35rem;
}

.common-text-title-btn {
    width: 0.8rem;
    height: 0.3rem;
    float: right;
    background-color: rgb(230, 0, 15);
    border-radius: 0.05rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.3rem;
    margin: 0.02rem 0.1rem 0 0;
}

.color-white{
    color: #FFFFFF !important;
}

.haveMenu {
    padding-bottom: 0.6rem;
}

.top-banner {
    width: 100%;
    height: auto;
    margin-bottom: 0.1rem;
}

.top-banner img {
    width: 100%;
}

.floor {
    width: 100%;
    font-size: 0.14rem;
    line-height: 0.2rem;
    margin-bottom: 0.2rem;
}

.c0 { color: #000000; }
.c3 { color: #333333; }
.c6 { color: #666666; }
.c9 { color: #999999; }
.ce { color: #eeeeee; }
.cf { color: #ffffff; }

.bce { background-color: #eeeeee; }
.bc245 { background-color: rgb(245, 245, 245); }