.index-icon-list {
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
    border-bottom: 1px solid #eeeeee;
}

.index-icon-item img {
    height: 0.6rem;
}

.index-icon-item {
    width: 24%;
    height: 0.8rem;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.index-icon-item span {
    display: block;
    color: #111111;
    font-weight: 400;
    font-size: 0.14rem;
}

.index-about {
    width: 100%;
    margin: 0.2rem 0;
    font-size: 0.14rem;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.2rem;
}

.index-about-left {
    width: 1.6rem;
    height: 1rem;
    display: inline-block;
    float: left;
}

.index-about-right {
    width: 1.9rem;
    height: 1rem;
    padding-left: 0.06rem;
    display: inline-block;
    line-height: 0.21rem;
}

.index-about-right h2 {
    color: rgb(227, 0, 17);
    font-weight: 400;
    font-size: 0.18rem;
    margin-bottom: 0.01rem;
}

.index-about-right h3 {
    color: rgb(153, 153, 153);
    font-weight: 500;
    font-size: 0.16rem;
}

.index-about-text {
    width: 100%;
    height: auto;
}

.index-join {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #eeeeee;
}

.index-join-item {
    width: 100%;
    height: 1.2rem;
    background: url("../img/index_join1.jpg") no-repeat center;
    color: rgb(231, 231, 231);
    font-size: 0.12rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

.index-join-item .title{
    text-align: center;
    font-size: 0.16rem;
    font-weight: 400;
    line-height: 0.35rem;
}

.index-join-btn {
    width: 80%;
    height: 0.4rem;
    background-color: rgb(280, 0, 15);
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.18rem;
    border-radius: 0.05rem;
    color: #eeeeee;
    margin: 0.1rem auto;
}

.index-product {
    margin-bottom: 0.2rem;
}

.index-product-item {
    width: 33%;
    height: 1.3rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.index-product-item img {
    border-radius: 50%;
    width: 0.9rem;
}

.index-product-item span {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 0.14rem;
}


.index-bar {
    width: 100%;
    background: url("../img/bar_back.jpg") no-repeat center;
    padding: 0.25rem 0;
    margin-bottom: 0.2rem;
    height: 1rem;
    overflow: hidden;
}

.index-bar-item {
    width: 24%;
    height: 100%;
    text-align: center;
    font-size: 0.15rem;
    font-weight: 500;
    line-height: 0.22rem;
    color: #ffffff;
    letter-spacing: 0.06rem;
    cursor: pointer;
    display: inline-block;
}

.index-bar-item img {
    position: relative;
    width: 0.6rem;
    left: -0.04rem;
    top: -0.51rem;
}

.index-bar-item div {
    z-index: 999;
    position: relative;
}

.index-call-me-main {
    width: 100%;
    margin-bottom: 0.2rem;
}

.index-call-me-main input,textarea {
    background-color: rgb(245, 245, 245);
    width: 95%;
    margin: 0.1rem auto;
    height: 0.4rem;
    border: 1px solid #cccccc;
    border-radius: 0.03rem;
    padding: 0.05rem 0.1rem;
}

.index-call-me-btn {
    width: 1.4rem;
    height: 0.3rem;
    border-radius: 0.05rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.3rem;
    background-color: rgb(228, 0, 15);
    margin: 0 auto;
}