.common-menu-nav {
    width: 100%;
    height: 0.6rem;
    position: fixed;
    background-color: rgb(54, 53, 51);
    bottom: 0;
    z-index: 99999;
}

.common-menu-nav .active {
    background-color: rgb(154,0, 10);
}

.common-menu-item {
    width: 25%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    padding: 0.08rem 0;
    font-size: 0.14rem;
    display: inline-block;
    cursor: pointer;
}

.common-menu-item img {
    width: 0.25rem;
}

.common-menu-item span {
    display: block;
}