.news-detail {
    width: 100%;
}

.news-detail img {
    width: 100%;
}

.news-detail-title {
    font-size: 0.16rem;
    font-weight: 600;
    line-height: 0.25rem;
    display: block;
    margin-bottom: 0.05rem;
}

.news-detail-time {
    font-size: 0.12rem;
    line-height: 0.15rem;
    display: block;
    margin-bottom: 0.1rem;
}

.news-detail-text {
    font-size: 0.14rem;
    font-weight: 400;
    line-height: 0.25rem;
    display: block;
    color: #888888;
}
