.news-main {

}

.news-main-tab {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0.1rem;
    font-weight: 500;
    font-size: 0.16rem;
}

.news-main-tab span {
    width: 33%;
    display: inline-block;
    line-height: 0.3rem;
}

.news-main-tab .active {
    border-bottom: 2px solid rgb(207, 1, 17);
    color: rgb(207, 1, 17);
}


.chain-chain-item {
    width: 100%;
    height: 0.95rem;
    color: #222222;
}

.chain-chain-item-left {
    width: 40%;
    display: inline-block;
    float: left;
}

.chain-chain-item-right {
    width: 60%;
    display: inline-block;
    padding-left: 0.15rem;
}

.chain-chain-item-right .title {
    font-size: 0.16rem;
    line-height: 0.35rem;
    font-weight: 400;
}

.chain-chain-item-right span {
    color: #666666;
    font-size: 0.14rem;
}