.product-item {
    width: 50%;
    display: inline-block;
    height: auto;
    text-align: center;
}

.product-item img {
    width: 95%;
}

.product-item span {
    display: block;
    margin-bottom: 0.1rem;
}