.product-detail {
    width: 100%;
}

.product-detail img {
    width: 100%;
}

.product-detail-title {
    font-size: 0.2rem;
    font-weight: 700;
    line-height: 0.25rem;
    display: block;
}

.product-detail-text {
    font-size: 0.16rem;
    font-weight: 400;
    line-height: 0.2rem;
    display: block;
}

.product-detail-share {
    font-size: 0.16rem;
    font-weight: 400;
    line-height: 0.2rem;
    display: block;
    color: rgb(211, 29, 66);
}

.product-detail-share-item {
    width: 25%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.product-detail-share-item img {
    width: 60%;
}

.product-detail-share-item span {
    display: block;
    text-align: center;
    color: #666666;
}