.server-tell-me {
    width: 100%;
    height: 1.1rem;
    font-size: 0.14rem;
    font-weight: 400;
}

.server-tell-me-left {
    width: 30%;
    display: inline-block;
    float: left;
}

.server-tell-me-right {
    width: 70%;
    display: inline-block;
    padding-left: 0.2rem;
}

.server-tell-me-right span {
    display: block;
}

.server-online {
    padding: 0.1rem 0 0.2rem 0;
    background: url("../img/join_back.jpg") no-repeat center;
}

.server-online .title {
    text-align: right;
}

.server-online td{
    padding: 0.05rem 0;
}

.server-online input,textarea {
    width: 80%;
    min-height: 0.3rem;
    border: 1px solid #eeeeee;
    border-radius: 0.03rem;
}

.server-online-brn {
    width: 1.2rem;
    height: 0.4rem;
    background-color: rgb(230, 0, 15);
    color: #eeeeee;
    font-size: 0.16rem;
    font-weight: 400;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 0.05rem;
    margin: 0 auto;
}

.server-download {
    width: 100%;
    height: 1.6rem;
}

.server-download-left {
    width: 40%;
    display: inline-block;
    float: left;
}

.server-download-right {
    width: 60%;
    display: inline-block;
    padding-top: 0.3rem;
}

.server-download-right span {
    display: block;
    margin-bottom: 0.2rem;
}
