<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>招商联盟</title>
    <link rel="stylesheet" href="css/chain.css"/>
</head>
<body ms-controller="chainVMId" class="haveMenu">
    <script type="text/javascript" src="js/common/commonUtil.js"></script>
    <script type="text/javascript" src="js/chain.js"></script>

    <div class="top-banner">
        <img src="img/join-banner.jpg"/>
    </div>

    <div class="floor ce worker">
        <div class="common-text-title">
            <div class="common-text-title-img"><img src="img/common-text-title.png"/></div>
            <div class="common-text-title-text">加盟店风采</div>
            <div class="common-text-title-btn">更多 >></div>
        </div>
        <div class="chain-door-item" ms-for="item in [1, 2, 3, 4, 5, 6]">
            <img src="img/chain_door_temp.jpg">
            <span>龙泉店</span>
        </div>
    </div>

    <!--<div class="chain-door worker">-->
        <!--<div class="common-text-title">-->
            <!--<div class="common-text-title-img"><img src="img/common-text-title.png"/></div>-->
            <!--<div class="common-text-title-text">招商加盟</div>-->
            <!--<div class="common-text-title-btn">更多 >></div>-->
        <!--</div>-->
        <!--<div class="chain-chain-item" ms-for="item in [1, 2, 3, 4, 5, 6]">-->
            <!--<div class="chain-chain-item-left">-->
                <!--<img src="img/chain_join_temp.jpg"/>-->
            <!--</div>-->
            <!--<div class="chain-chain-item-right">-->
                <!--<div class="title">碟滋味火锅加盟流程</div>-->
                <!--<span>碟滋味火锅加盟流程碟滋味火锅加盟流程碟滋味火锅加盟流程</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="index-bar">
        <div class="worker">
            <div class="index-bar-item">
                <div>匠心<br/>工艺</div>
                <img src="img/bar-item2.png">
            </div>
            <div class="index-bar-item">
                <div>绿色<br/>健康</div>
                <img src="img/bar-item2.png">
            </div>
            <div class="index-bar-item">
                <div>文化<br/>传承</div>
                <img src="img/bar-item2.png">
            </div>
            <div class="index-bar-item">
                <div>全国<br/>连锁</div>
                <img src="img/bar-item2.png">
            </div>
        </div>
    </div>

    <div class="index-join worker">
        <div class="common-text-title">
            <div class="common-text-title-img"><img src="img/common-text-title.png"/></div>
            <div class="common-text-title-text">连锁加盟</div>
        </div>
        <div class="index-join-item" ms-for="item in @joinText">
            <div class="title">{{item.title}}</div>
            <p>{{item.text}}</p>
        </div>
        <div class="index-join-btn">
            我要加盟 >>
        </div>
    </div>

    <!--<div class="worker">-->
        <!--<div class="common-text-title">-->
            <!--<div class="common-text-title-img"><img src="img/common-text-title.png"/></div>-->
            <!--<div class="common-text-title-text">全国招商加盟</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="chain-map-main">-->
        <!--<img src="img/chain_map.jpg"/>-->
    <!--</div>-->
    <!--<div class="worker">-->
        <!--<div class="chain-address">-->
            <!--<div class="chain-address-left">-->
                <!--<div class="chain-address-img">3</div>-->
            <!--</div>-->
            <!--<div class="chain-address-right">-->
                <!--<div class="chain-address-right-title">碟滋味红星路店</div>-->
                <!--<div class="chain-address-right-text">-->
                    <!--电话：13589656939-->
                    <!--<br/>-->
                    <!--地址：成都市红星路1090号-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!-- 通用菜单 -->
    <div ms-html="@menuHtml"></div>
</body>
</html>