<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>碟滋味</title>
	<link rel="stylesheet" href="css/index.css"/>
	<link rel="stylesheet" href="js/dist/swiper/swiper.min.css"/>
</head>
<body ms-controller="homeVMId" class="haveMenu">
	<script type="text/javascript" src="js/dist/swiper/swiper.min.js"></script>
	<script type="text/javascript" src="js/common/commonUtil.js"></script>
	<script type="text/javascript" src="js/index.js"></script>

	<!-- 轮播 -->
	<div class="swiper-container" id="index-top-swiper-container" style="width: 100%;">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="img/banner.jpg">
			</div>
			<div class="swiper-slide">
				<img src="img/banner.jpg">
			</div>
			<div class="swiper-slide">
				<img src="img/banner.jpg">
			</div>
		</div>
		<!-- 如果需要分页器 -->
		<div class="swiper-pagination" id="index-top-swiper-pagination"></div>
	</div>

	<div class="index-icon-list worker">
		<div class="index-icon-item">
			<img src="img/index_icon1.png" ms-click="@goMenu('product')">
			<span>产品中心</span>
		</div>
		<div class="index-icon-item">
			<img src="img/index_icon2.png" ms-click="@goMenu('dishes')">
			<span>菜品中心</span>
		</div>
		<div class="index-icon-item">
			<img src="img/index_icon3.png" ms-click="@goMenu('news')">
			<span>新闻中心</span>
		</div>
		<div class="index-icon-item">
			<img src="img/index_icon4.png">
			<span>火锅商城</span>
		</div>
	</div>

	<div class="index-about worker">
		<div class="common-text-title">
			<div class="common-text-title-img"><img src="img/common-text-title.png"/></div>
			<div class="common-text-title-text">关于我们</div>
		</div>
		<div class="index-about-left">
			<img src="img/temp.jpg">
		</div>
		<div class="index-about-right">
			<h2>公司简介</h2>
			<h3>客户至上，服务第一</h3>
			<p>
				四川碟滋味餐饮有限公司是一家以火锅底料销售、代加工及加盟为主的商业企业。
			</p>
		</div>
		<div class="index-about-text">
			碟滋味成立于2008年12月，是一家大型火锅连锁企业。经过十年的发展，至今已在全国开设直营店与加盟店100余家，并建立了强大的销售系统覆盖全国，拥有食品加工厂、商贸公司、餐饮公司、餐饮管理有限公司。目前，碟滋味集团已拥有独立法人公司12个。
		</div>
	</div>

	<div class="index-join worker">
		<div class="common-text-title">
			<div class="common-text-title-img"><img src="img/common-text-title.png"/></div>
			<div class="common-text-title-text">连锁加盟</div>
		</div>
		<div class="index-join-item" ms-for="item in @joinText">
			<div class="title">{{item.title}}</div>
			<p>{{item.text}}</p>
		</div>
		<div class="index-join-btn">
			我要加盟 >>
		</div>
	</div>

	<div class="index-product worker">
		<div class="common-text-title">
			<div class="common-text-title-img"><img src="img/common-text-title.png"/></div>
			<div class="common-text-title-text">产品展示</div>
			<div class="common-text-title-btn">更多 >></div>
		</div>
		<div class="index-product-item" ms-for="item in [1, 2, 3, 4, 5, 6]">
			<img src="img/temp3.jpg">
			<span>特色肥牛</span>
		</div>
	</div>

	<div class="index-bar">
		<div class="worker">
			<div class="index-bar-item">
				<div>匠心<br/>工艺</div>
				<img src="img/bar-item2.png">
			</div>
			<div class="index-bar-item">
				<div>绿色<br/>健康</div>
				<img src="img/bar-item2.png">
			</div>
			<div class="index-bar-item">
				<div>文化<br/>传承</div>
				<img src="img/bar-item2.png">
			</div>
			<div class="index-bar-item">
				<div>全国<br/>连锁</div>
				<img src="img/bar-item2.png">
			</div>
		</div>
	</div>

	<div class="index-call-me worker">
		<div class="common-text-title">
			<div class="common-text-title-img"><img src="img/common-text-title.png"/></div>
			<div class="common-text-title-text">在线留言</div>
		</div>
		<div class="index-call-me-main">
			<input type="text" placeholder="请输入您的电话号码"/>
			<input type="text" placeholder="请输入您的姓名"/>
			<textarea placeholder="请输入您的留言"></textarea>
			<div class="index-call-me-btn">提交</div>
		</div>
	</div>

	<!-- 通用菜单 -->
	<div ms-html="@menuHtml"></div>
</body>
</html>
